General styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
    background-color: #f9fafb;
    color: #2e2e2e;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /////////////////////////////////////////// */
/* Header Styling */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6bbba1, #a7d7b5);
    color: #2e2e2e;
    padding: 20px 0;
    text-align: center
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e2e2e;
}

header .location {
    font-size: 1.2rem;
    font-style: italic;
    color: #2e2e2e;
}

header .social-links a {
    margin: 0 10px;
    color: #2e2e2e;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header .social-links a:hover {
    color: #3a7461;
}


/* //////////////////////////////////////// */
/* About */
.about {
    font-size: 1.3rem;
}

.headshot {
    max-height: 250px;   
    border-radius: 40%;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid gray;
}
section:nth-of-type(odd) {
    background-color: #e9f5ef;
  }
  


h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}


@media screen and (min-width: 700px){
    .about {
        display: flex;
        flex-direction: row;
        max-width: 80%;
    }

    .headshot {
        margin-right: 40px;
    }
}

/* ////////////////
Skills */
/* .skills, .contact {background-color: #f4f4f4;} */

/* TODO: Not happy with this styling yet */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 1rem;
}

  .skills-list li {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .skills-list i {
    margin-right: 2px;
    font-size: 25px;
  }
  


@media screen and (min-width: 700px){
    .skills-list {
        display: flex;
        flex-direction: row;
        max-width: 80%;
    }  
}






/* //////////////////////////////////
Projects */


.projects .project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    
}

.projects .project h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.projects .project p {
    margin-bottom: 10px;
}

.projects .project ul {
    margin-bottom: 20px;
}

.projects .project .btn {
    background-color: #3a7461;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.projects .project .btn:hover {
    background-color: #325f50;
    transform: scale(1.05);
}




/* ///////////////
Contact */
.contact h2 {
    font-weight: 300;
    text-transform: uppercase;
}

.contact-icon {
    font-size: 3.5rem;
}


.say-hello {
    display: inline-block;
    background-color: #3a7461;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .say-hello:hover {
    background-color: #325f50;
    transform: scale(1.05);
  }
  
/* ///////////////////////
Footer */

footer {
    background-color: #3a7461;
    color: #f5f5f5;
    padding: 20px;
    text-align: center;
    font-size: .9rem;
}



#scroll-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6fcb9f;
    color: white;
    font-size: 24px;
    padding: 10px 14px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, background 0.3s ease;
}

#scroll-up:hover {
    cursor: pointer;
    transform: scale(1.2);
}