General styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
    background-color: lightgray;
    color: #333;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /////////////////////////////////////////// */
/* Header Styling */

header {
    background: linear-gradient(135deg, #92d8bf, #c8e6a8);
    color:#3a3a3a;
    padding: 20px 0;
    text-align: center;  
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header .title {
    font-size: 1.5rem;
    font-weight: 600;
}

header .location {
    font-size: 1.2rem;
    font-style: italic;
}

header .social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .social-links a:hover {
    color: #1e90ff;
}

/* //////////////////////////////////////// */
/* About */
.about {
    font-size: 1.3rem;
}

.headshot {
    max-height: 250px;   
    border-radius: 40%;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid gray;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}


@media screen and (min-width: 700px){
    .about {
        display: flex;
        flex-direction: row;
        max-width: 80%;
    }

    .headshot {
        margin-right: 40px;
    }
}

/* ////////////////
Skills */

/* TODO: Not happy with this styling yet */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 1rem;
}

  .skills-list li {
    background: #f3f3f3;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .skills-list i {
    margin-right: 8px;
    font-size: 25px;
  }
  


@media screen and (min-width: 700px){
    .skills-list {
        display: flex;
        flex-direction: row;
        max-width: 80%;
    }  
}






/* //////////////////////////////////
Projects */


.projects .project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    
}

.projects .project h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.projects .project p {
    margin-bottom: 10px;
}

.projects .project ul {
    margin-bottom: 20px;
}

.projects .project .btn {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}

.projects .project .btn:hover {
    background-color: #0077cc;
}



/* ///////////////////////
Footer */

footer {
    background: linear-gradient(135deg, #92d8bf, #c8e6a8);
    color: #2e2e2e ;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 1rem;
}
